<h1 class="title">Add a new product</h1>

{{#if error}}
    <p class="alert">{{error}}</p>
{{/if}}

<form action="/addProduct" method="POST">
    <div class="input-field">
        <input id="name" name="name" type="text" class="validate" required value="{{data.name}}">
        <label for="name">Name: </label>
        <span class="helper-text" data-error="Enter the valid name"></span>
    </div>

    <div class="input-field">
        <input id="description" name="description" type="text" class="validate" value="{{data.description}}">
        <label for="description">Description: </label>
        <span class="helper-text" data-error="Enter the valid description"></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="text" class="validate" required  value="{{data.price}}">
        <label for="price">Price: </label>
        <span class="helper-text" data-error="Enter the valid price"></span>
    </div>

    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required value="{{data.img}}">
        <label for="img">URL picture: </label>
        <span class="helper-text" data-error="Enter the valid URL"></span>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class=" btn" onclick="done()">Add </button>
</form>

<script>

        const done = ()=>
        {
            const pName = document.querySelector('#name').value;
            console.log('done function, socketID' + socket.id)
            socket.emit('done', pName)
        }
</script>