<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>


<h1 class="title">All orders</h1>

<div id="card">
{{#if orders.length}}
    {{#each orders}}
        <div class="col s6 offset-s3">
            <div class="card">
                <div class="card-action">
                    <span class="card-title">
                        <b>Order</b> <small>{{_id}}</small>
                    </span>
                    <p class="date">{{date}}</p>
                    <p><em><b>{{user.name}}</b></em> ({{user.userId.email}})</p>
                    <p><em><b>Address:</b></em> {{address}}</p>

                    <ol>
                        {{#each products}}
                            <li>
                                <b>{{product.name}}</b> (x{{count}})
                            </li>
                        {{/each}}
                    </ol>
                    <hr>
                    <div class="sp">
                        <p><em><b>Total price: </b></em><span class="price">{{price}}</span> </p>
                        <!--<form action="/adminOrders/" method="post">
                            <input type="hidden" name="_csrf" value="{@root.csrf}}">
                            <input type="hidden" name="id" value="{_id}}">
                            <button type="submit" class="btn js-done" data-csrf="{@root.csrf}}" onclick="makeDelivering('{_id}}', '{user.name}}')">Delivered</button>
                        </form>-->
                        <button class="btn js-done" data-id="{{_id}}" data-csrf="{{@root.csrf}}" onclick="makeDelivering('{{_id}}', '{{user.name}}')">Delivered</button>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <h4>No active orders</h4>
{{/if}}
</div>


<script>
    const socket = io('http://localhost:3000')

    socket.on('connection');

    const makeDelivering = (orderId, userId)=>{

        console.log('makeOrder function, socketID'+ socket.id)
        socket.emit('done', orderId, userId)
    }
</script>