<h1>Basket</h1>

<div id="basket">
    {{#if products.length}}
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Count</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            {{#each products}}
            <tr>
                <td>{{name}}</td>
                <td class="price small">{{price}}</td>
                <td>{{count}}</td>
                <td>
                    <button class="btn js-remove redd" data-id="{{id}}">Delete</button>
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
        <p><b>Total Price: </b> <span class="price total">{{price}}</span></p>

        <form action="/orders" method="post">
            <button type="submit" class="btn ggreen">Make an order</button>
        </form>

    {{else}}
        <p>The basket is empty</p>
    {{/if}}
</div>