<h1 class="title">My orders</h1>


{{#if orders.length}}
    {{#each orders}}
        <div class="col s6 offset-s3">
            <div class="card">
                <div class="card-action">
                    <span class="card-title">
                        <b>Order </b> <small>{{_id}}</small>
                    </span>
                    <p class="date">Date: {{date}}</p>
                    <p><em><b>{{user.name}}</b></em> ({{user.userId.email}})</p>
                    <p><em><b>Address:</b></em> {{address}}</p>

                    <ol>
                        {{#each products}}
                            <li>
                                <b>{{product.name}}</b> (x{{count}})
                            </li>
                        {{/each}}
                    </ol>
                    <hr>

                    <p><em><b>Total price: </b></em><span class="price">{{price}}</span> </p>
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <p>No orders</p>
{{/if}}