<h1 class="title">My orders</h1>

<div id="orderLink">
    <h5>
        <a class="underline js-orderActiveLink" href="#">New</a>
        <!--<a class="underline verticalLine js-orderLink" href="/orders/inProgress">In progress</a>-->
        <a class="underline verticalLine js-orderPassiveLink" href="#">Delivered</a>
    </h5></br>
</div>

<div id="card">
{{#if orders.length}}
    {{#each orders}}
        <div class="col s6 offset-s3">
            <div class="card">
                <div class="card-action">
                    <span class="card-title">
                        <b>Order </b> <small>{{_id}}</small>
                    </span>
                    <p class="date">Date: {{date}}</p>
                    <p id="user" data-userEmail="{{user.userId.email}}"><em><b>{{user.name}}</b></em> ({{user.userId.email}})</p>
                    <p><em><b>Address:</b></em> {{address}}</p>

                    <ol id="list">
                        {{#each products}}
                            <li>
                                <b>{{product.name}}</b> (x{{count}})
                            </li>
                        {{/each}}
                    </ol>
                    <hr>

                    <p><em><b>Total price: </b></em><span class="price">{{price}}</span> </p>
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <h4>No orders with that state</h4>
{{/if}}
</div>