<h1>Edit the {{product.name}}</h1>

<form action="/products/edit" method="POST" class="product-form">
    <div class="input-field">
        <input id="name" name="name" type="text" class="validate" required value="{{product.name}}" >
        <label for="name">Name: </label>
        <span class="helper-text" data-error="Enter the valid name"></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="text" class="validate" required value="{{product.price}}">
        <label for="price">Price: </label>
        <span class="helper-text" data-error="Enter the valid price"></span>
    </div>

    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required value="{{product.img}}">
        <label for="img">URL picture: </label>
        <span class="helper-text" data-error="Enter the valid URL"></span>
    </div>

    <input type="hidden" name="id" value="{{product.id}}">

    <button type="submit" class=" btn">Edit </button>
</form>

<form action="/products/remove" method="post" >
    <input type="hidden" name="id" value="{{product.id}}">
    <button class="btn redd">Delete</button>
</form>
